.info3 .container{
	background-color: rgba(0, 0, 0, 0.25);
	padding: 20px 15%;
	min-height: 500px;
	justify-content: center;
	align-items: center;
}

.info3 hr{
	    height: 5px;
    	border: 0;
    	width: 60px;
    	background: #d7b065;
    	left:0;
    	right:0;
}

.info3 .sub-content{
		flex-basis: 100%;
	}