<div [ngStyle]="template.style" class="card">
	<div *ngIf="template.image" class="image">
		<img src="{{template.image}}">
	</div>
	<div class="container row-flex">
		<div class="content column-flex"  [ngStyle]="template.style">
			<header1 *ngIf="template.header" [template]="template.header" class="header"></header1>
			<div *ngIf="template.title" class="title" [ngStyle]="template.title.style">{{template.title.text}}</div>
			<div *ngIf="template.description" class="description" [ngStyle]="template.description.style">{{template.description.text}}</div>
			<button1 *ngIf="template.button" [template]="template.button"></button1>
		</div>
	</div>
</div>