.toolbar-header{
	position:fixed;
	z-index:1000;
	width:100vw;
	transition: all 0.5s;
	background-color: rgba(0,0,0,0.4);
}

.toolbar-header .header-container{
	position:relative;
}

.toolbar-header .brand{
	width: 100px;
	position: absolute;
	top: -10px;
}

.toolbar-header .brand img{
	width:100%;
	object-fit: cover;
}

.toolbar-header .menu{
	flex-grow: 1;
	justify-content: flex-end;
	align-items: center;
}

.toolbar-header .menu .menu-item{
	margin: 0 5px;
}