.info{
	background-color: white;
	justify-content: center;
	align-items: center;
}

.info .container{
	background-color: rgba(0, 0, 0, 0.25);
	padding: 20px 10%;
	min-height: 500px;
	justify-content: center;
	align-items: center;
}

.info .title{
	flex-basis: 50%;
}

.info .sub-content{
	flex-basis: 50%;
}

.info .description{
	margin:20px 0;
}

@media (max-width: 800px) {
   .info .title{
	flex-basis: 100%;
	}

	.info .sub-content{
		flex-basis: 100%;
	}
}
