.section{
	padding: 20vh 0;
	min-height:100%;
	align-items: center;
	justify-content: center;
}

.section>div{
	width: 100vw;
}

.section .app-header{
	font-size: 70px;
}

@media (max-width:812px ){
	.section .app-header{
		font-size: 50px;
	}

	.section{
		min-height: 100vh;
	}
}