<div scroll>
	<div><toolbar-header></toolbar-header></div>
	<div class="body">
		<div>
			<introduction></introduction>
		</div>

		<div [ngClass]="{'render': offset==0}">
			<signature></signature>
		</div>
		
		<div class="section row-flex">
			<div>
				<div class="row-flex app-header" style="align-items: center; justify-content: center">
					<header1 [template]="config.section3.header" class="font2"></header1>
				</div>
				<service-offer></service-offer>
			</div>
		</div>

		<div class="section row-flex">
			<div>
				<div class="row-flex app-header" style="align-items: center; justify-content: center">
					<header1 [template]="config.section4.header" class="font2"></header1>
				</div>
				<location></location>
			</div>
		</div>

		<div class="section row-flex">
			<div>
				<div class="row-flex app-header" style="align-items: center; justify-content: center">
					<header1 [template]="config.section5.header" class="font2"></header1>
				</div>
				<faq></faq>
			</div>
		</div>
	</div>
</div>